{% macro etape(titre) %}
    <!--begin::Item Example-->

    <li class="breadcrumb-item">
        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">{{ titre }}</li>

    <!--end::Item Example-->

{% endmacro %}

