{% macro info(titre,valeur) %}
<div class="row mb-7">
    <!--begin::Label-->
    <label class="col-lg-4 fw-semibold text-muted">{{titre}}</label>
    <!--end::Label-->

    <!--begin::Col-->
    <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ valeur }}</span>
    </div>
</div>
{% endmacro %}