
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/base.js') }}"></script>
{% endblock %}

{% block body %}
    <nav class="animated-nav">
        <div class="tab-content">
            <ul class="nav-list">
            <li class="nav-item active" data-target="home">
                <a href="#">Accueil</a>
            </li>
            <li class="nav-item" data-target="products">
                <a href="#">Produits</a>
            </li>
            <li class="nav-item" data-target="services">
                <a href="#">Services</a>
            </li>
            <li class="nav-item" data-target="about">
                <a href="#">À propos</a>
            </li>
            <li class="nav-item" data-target="contact">
                <a href="#">Contact</a>
            </li>
            <div class="nav-indicator"></div>
            </ul>
        </div>

    </nav>
{% endblock %}
